* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #138fcd;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border: solid black;
    border-radius: 2.5rem;
    font-size: 8vmin;
    color: #ffffff;
    background-color: #0e8f1d;
    box-shadow: 2rem white;
  }
  .box:hover{
    background-color: #17331a;
    
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #161614;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #000000;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    font-size: 3rem;
    font-weight: 900;
    color: #ffffff;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }